* { margin: 0px; padding: 0px;}  /*Always start with this style rule. The "*" applies the rule to everything*/
header, section, footer, nav, article, aside, figure, figcaption, hgroup{ display:block; }
h1 { font: bold 20px verdana, sans-serif; }
h2 { font: bold 14px verdana, sans-serif; }
body { text-align: center; }
#wrapper { width: 760px; margin: 15px auto; padding: 10px; text-align: left; border: 1px solid #000000; }
#main_header { background: #FFFBB9; border: 1px solid #999999; padding: 20px; text-align: center; font: bold 40px fantasy; }
#main_menu { background: #CCCCCC; padding: 5px 15px; }
#main_menu li { display: inline-block; padding: 5px; font: bold 14px verdana, sans-serif; }
#main_menu li:nth-child(2) { color: red; }
#main_menu li:nth-child(odd) { color: white; }
#main_menu li:nth-child(4) { color: blue; }
#main_section { width: 660px; margin: 20px 50px; }
article { background: #FFFBCC; border: 1px solid #999999; padding: 20px; margin-bottom: 15px; font: oblique 14px cursive; color: maroon; text-align: center; }
article footer { text-align: right; }
figcaption { font: italic 14px verdana, sans-serif; color: teal; }
time { color: #999999; }
aside { text-align: center; }
aside img { float: left; } /*Take the first image, if there is room move that image to the left, and the second, and ect.*/

